.jumbo-custom {
    background: url('../img/background.jpg') center;
}

.line-breaks {
    white-space: pre-wrap;
}

.no-overflow {
    white-space: nowrap;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}