<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form">
                <div class="mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="nameSearchInput" placeholder="Name" ng-model="name">

                    <select class="form-control" id="accommodationTypeSelect" ng-model="accommodationType"
                            title="accommodationType">
                        <option value="">Accommodation Type</option>
                        <option ng-repeat="type in ctrl.accommodationTypes"
                                value="{{type}}">{{type}}
                        </option>
                    </select>

                    <input type="number" class="form-control" id="maxGuestsSearchInput" placeholder="Required Guests"
                           ng-model="requiredGuestCount">
                    <input type="number" class="form-control" id="minPricePerNightInput" placeholder="Min price/night"
                           ng-model="minPricePerNight">
                    <input type="number" class="form-control" id="maxPricePerNightInput" placeholder="Max price/night"
                           ng-model="maxPricePerNight">
                    <input type="text" class="form-control" id="countryInput" placeholder="Country"
                           ng-model="country">
                    <input type="text" class="form-control" id="cityInput" placeholder="City"
                           ng-model="city">

                    <!--Amenity 1-->
                    <select class="form-control" id="amenitySelect1" ng-model="amenityFilter1" title="amenity">
                        <option value="">Amenity no. 1</option>
                        <option ng-repeat="type in ctrl.amenityTypes"
                                value="{{type}}">{{type}}
                        </option>
                    </select>
                    <!--Amenity 2-->
                    <select class="form-control" id="amenitySelect2" ng-model="amenityFilter2" title="amenity">
                        <option value="">Amenity no. 2</option>
                        <option ng-repeat="type in ctrl.amenityTypes"
                                value="{{type}}">{{type}}
                        </option>
                    </select>
                    <!--Amenity 3-->
                    <select class="form-control" id="amenitySelect3" ng-model="amenityFilter3" title="amenity">
                        <option value="">Amenity no. 3</option>
                        <option ng-repeat="type in ctrl.amenityTypes"
                                value="{{type}}">{{type}}
                        </option>
                    </select>

                    <button class="btn btn-primary mx-1"
                            ng-click="ctrl.search(name, accommodationType, requiredGuestCount, minPricePerNight, maxPricePerNight, localization, amenityFilter1,amenityFilter2,amenityFilter3)">
                        Filter Accommodations
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Max Guests</th>
                    <th scope="col">Price per night</th>
                    <th scope="col">Localization</th>
                    <th scope="col">User</th>
                    <th scope="col">Amenities</th>
                    <th scope="col">Created</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="accommodation in ctrl.accommodations">
                    <th scope="row">{{accommodation.id}}</th>
                    <td>{{accommodation.name}}</td>
                    <td>{{accommodation.description}}</td>
                    <td>{{accommodation.accommodationType}}</td>
                    <td>{{accommodation.maxGuests}}</td>
                    <td>{{accommodation.pricePerNight}}</td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td>{{accommodation.localization.country}}</td>
                                <td>{{accommodation.localization.city}}</td>
                                <td>{{accommodation.localization.address}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td><a ng-href="#!user-edit/{{accommodation.user.id}}">{{accommodation.user.username}}</a></td>
                    <td>
                        <table>
                            <tbody>
                            <tr ng-repeat="amenity in accommodation.amenities">
                                <td>{{amenity.type}}</td>
                                <td>{{amenity.description}}</td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    <td>{{accommodation.createdDate}}</td>

                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" title="Edit">
                            <a ng-href="#!accommodation-edit/{{accommodation.id}}" class="text-white">
                                <i class="fas fa-user-edit"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-warning" title="Manage Bookings">
                            <a ng-href="#!accommodation-bookings/{{accommodation.id}}" class="text-white">
                                <i class="fas fa-wrench"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-danger" title="Remove"
                                ng-click="ctrl.removeAccommodation(accommodation)">

                            <i class="fas fa-user-minus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary mb-3" ng-href="#!accommodation-add">Add Accommodation</a>
    </div>
</div>