<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="searchInput" placeholder="Username" ng-model="username">
                    <button class="btn btn-primary mx-1" ng-click="ctrl.search(username)">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Phone no.</th>
                    <th scope="col">Roles</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in ctrl.users">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.roles}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" title="Edit">
                            <a ng-href="#!users/{{user.id}}" class="text-white">
                                <i class="fas fa-user-edit">
                                    &emsp;Display
                                </i>
                            </a>
                        </button>
                        <br>
                        <button class="btn btn-sm btn-warning" title="Manage Accommodations">
                            <a ng-href="#!users/{{user.id}}/accommodations" class="text-white">
                                <i class="fas fa-wrench">
                                    &emsp;Accommodations
                                </i>
                            </a>
                        </button>
                        <br>
                        <button class="btn btn-sm btn-warning" title="Manage Bookings">
                            <a ng-href="#!users/{{user.id}}/bookings" class="text-white">
                                <i class="fas fa-wrench">
                                    &emsp;Bookings
                                </i>
                            </a>
                        </button>
                        <button ng-if="user.id == authUser.id" class="btn btn-sm btn-danger" title="Remove"
                                ng-click="ctrl.removePopup($event, user)">
                            <i class="fas fa-user-minus">
                                &emsp;Remove
                            </i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>